.cardComponent{
  background: #27242C;
}

.bottomTags{
  font-size: 12px;
}

.draftHeader{
  color: #BDBDBD;
  font-weight: normal !important;
  font-size: 11px !important;
  margin-top: 7px;
  /* margin-left: 80px; */
  position: relative;
  left: 36px;
}

.draftDescription{
  color:#ffff;
}

.userIconText{
  color: #BDBDBD;
  margin-top: 2px;
}

.bottomIcons{
  height: 15px;
  width: 16px;
}

.locationItemMain{
  font-size: 12px;
}

.locationItemMain span{
  margin-top: 2px;
  font-size: 12px;
}

.locationItem span{
  color: #BBBABC !important;
  font-size: 12px;
  margin-top: 2px;
}


@media screen and (max-width: 380px){
  .title{
    font-size: 13px !important;
  }
  .draftHeader{
    font-size: 10px !important;
    left: 20px;
  }
  .bottomIcons{
    height: 12px;
    width: 13px;
  }
  .userIconText{
    font-size: 11px;
  }
  .bottomTags{
    font-size: 10px;
  }
  .draftDescription{
    font-size: 10px;
  }
}
