.modalBottomBar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
}

.modalBottomBar button:last-child{
  color: var(--secondary-color);
}
