.searchBottom {
  color: #94939b;
  width: 100%;
  right: 0%;
  padding-top: 30%;
  padding-bottom: 10px;
  font-size: 12px;
}

.bottomBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.bottomBar span img {
  margin-bottom: 3px;
  margin-right: 5px;
  height: 14px !important;
  width: 15px !important;
}

.lightText {
  color: #94939b !important;
}

@media screen and (max-width: 380px) {
  .searchBottom {
    padding-top: 0%;
  }
}
