
.searchBottom{
  position: absolute;
  bottom: 5%;
  color: #94939B;
  width: 100%;
  right: 0%;
}

.bottomBar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.bottomBar span img{
  margin-bottom: 3px;
  margin-right: 5px;
}

.lightText{
  color: #94939B !important;
}

