<nav class="navBar text-white fixed top-0 left-0 w-full z-50">
  <div class="navMainBar">
    <div class="subNav container gap-44 mx-auto">
      <div>
        <img ngSrc="assets/icons/logo.svg" alt="logo" height="10" width="50"/>
      </div>
      <app-bottom-navigation-items label="Home" iconPath="assets/icons/home.svg"></app-bottom-navigation-items>
      <div>
       <app-search-bar class="navTopSearch" [placeholder]="'Search for anything'"></app-search-bar>
      </div>
      <app-bottom-navigation-items label="Constituents" iconPath="assets/icons/users.svg"></app-bottom-navigation-items>
      <app-bottom-navigation-items label="Itinerary" iconPath="assets/icons/itineraries.svg"></app-bottom-navigation-items>
      <app-bottom-navigation-items label="Stats" iconPath="assets/icons/stats.svg"></app-bottom-navigation-items>
      <app-bottom-navigation-items label="Settings" iconPath="assets/icons/setting.svg"></app-bottom-navigation-items>
    </div>
    <div class="profileIcon ml-auto">
      <lib-menu-btn
        menuDirection="rtl"
        [menuBtnImgUrl]="'https://semantic-ui.com/images/avatar2/large/matthew.png'"
        [hasNotification]="true"
        [menuBtnNotificationIconUrl]="'assets/icons/not_blip.svg'"
        [menuItems]="menuItems"
        class="dashboardMenu">
      </lib-menu-btn>
    </div>
  </div>
</nav>
