.navBar {
  background: #27242c;
  box-shadow:
    0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

::ng-deep .navTopSearch .searchField {
  margin-top: 0 !important;
}

::ng-deep .container {
  padding: 0 !important;
}

/* ::ng-deep .navTopSearch .container__search-bar__input {
  font-size: 10px !important;
}

::ng-deep .navTopSearch .container__search-bar {
  width: 320px !important;
  height: 30px !important;
  padding: 3px 5px !important;
  font-size: 10px !important;
}

::ng-deep .navTopSearch .container__search-bar__input::placeholder {
  font-size: 10px !important;
  padding-bottom: 4px;
  padding-left: 10px !important;
}

::ng-deep .navTopSearch .container__search-bar__icon {
  height: 10px !important;
  width: 10px !important;
}*/
::ng-deep .navMainBar .menu-btn-image {
  height: 26px !important;
  width: 26px !important;
}

.navMainBar {
  min-width: 100% !important;
  padding-right: 20px !important;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.subNav {
  display: flex;
  justify-content: start;
  align-items: center;
  /*justify-content: space-between;*/
  flex-direction: row;
  gap: 130px;
}

.profileIcon {
  position: absolute;
  right: 10px;
}
/*menu*/
::ng-deep
  #mat-menu-panel-0
  .mat-mdc-menu-panel.lib-btn-menu-panel
  button.mat-mdc-menu-item
  .mat-mdc-menu-item-text {
  /*flex-direction: row-reverse !important;*/
  justify-content: start !important;
}
::ng-deep #mat-menu-panel-0 .mat-mdc-menu-item-text img {
  position: relative !important;
  right: -22px !important;
}

::ng-deep #mat-menu-panel-0 .mat-mdc-menu-item-text img:last-child {
  /*height: 14px;*/
  /*width: 14px;*/
}
/*
::ng-deep .menu-btn-notification-icon {
  top: 1px !important;
  right: -4px !important;
} */

::ng-deep .dashboardMenu .lib-button-container {
  box-shadow: none !important;
  background: none !important;
}

::ng-deep .dashboardMenu .lib-button-component {
  height: 29px !important;
  width: 29px !important;
}

::ng-deep .dashboardMenu .btn-text img {
  height: 24px !important;
  width: 24px !important;
}
@media screen and (max-width: 1492px) {
  .subNav {
    gap: 100px;
  }
}

@media screen and (max-width: 1282px) {
  .subNav {
    gap: 80px;
  }
}

@media screen and (max-width: 1152px) {
  .subNav {
    gap: 50px;
  }
}

::ng-deep .navTopSearch .searchField {
  top: 0px !important;
}

::ng-deep .navTopSearch .searchField .container {
  height: auto !important;
}
