<div class="relative min-h-screen">
  <div class="z-auto">
    <div class="pb-10">

      <app-itinerary-member></app-itinerary-member>
      <div class="flex px-4">
        <img [src]='ICONS.invitePink' />
        <button class="inviteMorePeople" (click)="routeToSendInvites()">Invite more people</button>
      </div>

      <!-- Separator Line -->
      <div class="border-t border-gray-700 mt-6 mb-6"></div>

      <h2 class="commonInterests px-4 mb-4">Common Interests</h2>

      <div class="commonInterestItem px-4 py-3 ms-4">
        <img [src]='ICONS.food' />
        <p class="text-black">Viynasa</p>
      </div>
    </div>
  </div>
</div>
