<div class="main-search-screen pt-5">
  <div class="sub-screen">
    <lib-search-bar
      class="search-field"
      [placeholderText]="'SEARCH_ITINERARIES' | translate"
      (searchStringChange)="handleSearchStringChange($event)"
      (cleared)="clear()"
      [searchIcon]="ICONS.dashboardSearch"
    >
    </lib-search-bar>
    <app-search-chips></app-search-chips>
    <div class="">
      <app-recent-searches></app-recent-searches>
      <app-serach-clear-history></app-serach-clear-history>
      <app-quick-actions></app-quick-actions>
      <app-serach-bottom-bar></app-serach-bottom-bar>
    </div>
  </div>
</div>
