::ng-deep .cdk-overlay-dark-backdrop {
  opacity: 80.2% !important;
  background: #000;
  backdrop-filter: blur(16.40999984741211px) !important;
}

::ng-deep .mat-mdc-dialog-surface.mdc-dialog__surface {
  background: transparent !important;
  margin-bottom: 40px !important;
}

::ng-deep .cdk-global-overlay-wrapper {
  align-items: end !important;
}

::ng-deep #ion-overlay-2.modal-wrapper {
  background: transparent !important;
}

::ng-deep .modal-wrapper.ion-overlay-wrapper {
  background: transparent !important;
}

.bottomModalItems {
  margin-bottom: 20px;
}
