<div class="detail">
  <h2 class="intro">Popup Component</h2>
  <div class="info">A compact and interactive chip for displaying and interacting with small pieces of information.</div>
  <div class="detail-section component-section">
    <div class="header">Demo</div>
    <div class="component-demo">
      <lib-primary-btn class="app-primary-button" (click)="toggle()">Open Modal</lib-primary-btn>
    </div>
  </div>
  <div class="detail-section">
    <div class="header">Properties</div>
    <table class="nested-table">
      <tr>
        <th>Name</th>
        <th>Default Value</th>
      </tr>
      <tr>
        <td>--lib-chip-radius</td>
        <td>20px</td>
      </tr>
      <tr>
        <td>--lib-chip-background</td>
        <td>#433A47</td>
      </tr>
      <tr>
        <td>--lib-chip-background-before</td>
        <td>linear-gradient(to left, #FFB5E980, #00000000)</td>
      </tr>
      <tr>
        <td>--lib-chip-background-after</td>
        <td>linear-gradient(to left, #00000000, #FFB5E980)</td>
      </tr>
      <tr>
        <td>--lib-chip-border</td>
        <td>1px solid #FFB5E980</td>
      </tr>
      <tr>
        <td>--lib-chip-color</td>
        <td>#d9cfcf</td>
      </tr>
      <tr>
        <td>--lib-button-component-label-filter</td>
        <td>blur(10.081077575683594px)</td>
      </tr>
      <tr>
        <td>--lib-chip-font</td>
        <td>Gilroy-Regular, serif</td>
      </tr>
      <tr>
        <td>--lib-chip-font-size</td>
        <td>12px</td>
      </tr>
      <tr>
        <td>--lib-chip-padding</td>
        <td>3px 10px</td>
      </tr>
    </table>
  </div>
  <div class="detail-section">
    <div class="header">Example usage</div>
    <div class="code-section">
      <code>
        {{ code }}
      </code>
    </div>
  </div>
</div>
<ng-container #dynamicModal>
  asdasdsdasd
</ng-container>
<lib-popup
  [isOpen]="toggleModal"
  [title]="'POPUP.WARNING'"
  [message]="'POPUP.WARNING_MESSAGE'"
>
</lib-popup>
