.deleteModal{
  /*background: #28252D;*/
  /*box-shadow: -2.46px -2.46px 13.13px 0px #FFFFFF1A;*/
  /*border-radius: 10px;*/
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.deleteModal h1{
  font-size: 15px;
  color: #FFFFFF;
  font-family: 'Calistoga';
}

.deleteModal p{
  font-size: 13px;
  color: #FFFFFF;
  /*padding: 0px 20px;*/
  width: 245px;
}

.parentClassForModal{
  margin-top: 40px;
}