.deleteModal {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.deleteModal h1 {
  font-size: 15px;
  color: #ffffff;
  font-family: "Calistoga";
}

.deleteModal p {
  font-size: 13px;
  color: #ffffff;
  width: 245px;
}

.parentClassForModal {
  margin-top: 40px;
}
