.bottomNavItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  max-width: 60px;
}
.bottomNavItem span {
  color: #ffffff;
  opacity: 30%;
  font-size: 11px;
  line-height: 15px;
}

.bottomNavItem .spanText:nth-child(3) {
  background: red !important;
  margin-top: 3px !important;
}

::ng-deep .active {
  color: var(--secondary-color) !important;
  opacity: 100% !important;
}

@media screen and (max-width: 380px) {
  .bottomNavItem img {
    height: 13px !important;
    width: 13px !important;
  }
  .bottomNavItem span {
    font-size: 10px;
    line-height: 12px;
  }
}

.dashboardActive.spanText {
  background-image: linear-gradient(
    208.61deg,
    #fe3c72 -5.8%,
    #ffb5e9 192.44%
  ) !important;

  /* Clip the gradient to the text */
  -webkit-background-clip: text !important;
  background-clip: text !important; /* Standard property for non-webkit browsers */

  /* Make text color transparent to reveal the gradient */
  color: transparent !important;

  /* For better cross-browser support */
  display: inline !important;
  opacity: 100% !important;
}
