<div
  class="{{
    cssClass
  }} header-main-bar pt-5 pb-5 px-5 flex items-center justify-between"
>
  <lib-icon-btn
    (click)="onBack()"
    class="bg-color mr-2 flex items-center justify-center rounded-full w-7 h-7 outset-shadow flexCenter"
  >
    <img [src]="ICONS.back" />
  </lib-icon-btn>
  <h4>Create itinerary</h4>
  <button class="header-btn" (click)="clear()">
    <div
      class="discard cursor-pointer flex items-center justify-center text-[11px] mr-3"
    >
      Discard?
    </div>
  </button>
</div>
