<div class="px-5 py-6">
  <h2 class="f-[13px]">Created By</h2>

  <div class="m-5 flex justify-between">
    <div class="flex items-center gap-2">
      <img
        height="12"
        width="12"
        [src]="ICONS.userRedFilled"
        alt=""
        class="mb-auto"
      />
      <p class="user-name">Jonathan</p>
      <p class="last-seen">11 Hours ago</p>
    </div>
    <div class="flex">
      <p class="history mr-1">History</p>
      <img height="5" width="5" [src]="ICONS.rightArrow" alt="right arrow" />
    </div>
  </div>

  <hr class="divider" />

  <h2 class="f-[13px] mt-5">Itinerary Passions</h2>
</div>
