<div class="report-itineraies max-padd-container">
  <h1 class="p-4">{{ "SNACKBAR.REPORT_ITINERARY" | translate }}</h1>
  <div>
    <lib-form-field
      [formFieldControl]="radio"
      [submitted]="false"
      [required]="true"
      [maxLength]="10"
      [type]="FormFieldType.radio"
      [options]="options"
      [radioDeselectable]="false"
    ></lib-form-field>
  </div>

  <lib-text-box
    class="text-feild"
    *ngIf="selectedItem == 9"
    [label]="'Please brief your issue'"
  ></lib-text-box>

  <app-modal-bottom-bar
    class="parent-class-for-modal"
    [okText]="'Report'"
    [cancelText]="'Cancel'"
    (cancel)="closeModal()"
  ></app-modal-bottom-bar>
</div>
