.reportItineraies {
  width: 330px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

::ng-deep .mat-mdc-dialog-surface {
  border-radius: 10px !important;
}

.reportItineraies h1 {
  font-family: "Calistoga";
}

input {
  box-shadow: none;
}

::ng-deep .mdc-label {
  padding: 5px 4px !important;
  font-size: 12px;
}

.textFeild {
  position: relative;
  width: 100%;
  padding: 5px 0px;
}

@media screen and (max-width: 380px) {
  .reportItineraies {
    width: 280px;
    padding: 0px 10px;
  }

  .radioGroup {
    font-size: 11px !important;
  }
}

::ng-deep .input-label {
  top: 24px !important;
}
