<div class="reportItineraies max-padd-container">
  <h1 class="p-4">Report Itinerary</h1>
<!--  <app-report-itinerary-radio-feild-list [options]="options" [control]="'rd'" [form]="form"></app-report-itinerary-radio-feild-list>-->
  <div>
    <div class="radioGroup" *ngFor="let item of options;let i = index">
      <span>{{item.label}}</span>
      <input type="radio" [checked]="item.selected" (change)='radioChecked(item.value,i)' [value]="item.value">
    </div>
  </div>

  <lib-text-box *ngIf="this.selectedItem == 8" [label]="'Comment'"></lib-text-box>

  <app-modal-bottom-bar class="parentClassForModal" [okText]="'Report'" [cancelText]="'Cancel'"
                        (cancel)="this.modalService.closeModal()" (ok)="test()"></app-modal-bottom-bar>
</div>
