<div class="mainSection builderMainSection">
  <app-create-itinerary class="createItiniresCom"></app-create-itinerary>
  <app-custom-heading-with-button
    class="customHeadingSectionHeading"
    [heading]="'My Creations'"
    [buttonText]="'Archives'"
    [buttonIcon]="'assets/icons/archives.svg'"
    (buttonClick)="navigateToArchive()"
  >
  </app-custom-heading-with-button>
  <div class="builderContent">
    <app-card-component
      [libMenuItem]="libMenuItem"
      [isDraft]="true"
    ></app-card-component>
    <br />
    <app-card-component
      class="secondComp"
      [libMenuItem]="libMenuItem"
      [isDraft]="false"
    ></app-card-component>
  </div>
</div>
