<div class="main-section builder-main-section">
  <app-create-itinerary class="create-itinires-com"></app-create-itinerary>
  <app-custom-heading-with-button
    class="custom-heading-section-heading"
    [heading]="'My Creations'"
    [buttonText]="'Archives'"
    [buttonIcon]="ICONS?.archives"
    (buttonClick)="navigateToArchive()"
  >
  </app-custom-heading-with-button>
  <div class="builder-content">
    <app-card-component
      [libMenuItem]="libMenuItem"
      [isDraft]="true"
    ></app-card-component>
    <br />
    <app-card-component
      class="second-comp"
      [libMenuItem]="libMenuItem"
      [isDraft]="false"
    ></app-card-component>
  </div>
</div>
