// :host {
//   display: contents;
// }

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

button {
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.play-icon {
  width: 26.256px;
  height: 26.256px;
  position: absolute;
  top: 352.95px;
  left: 279.79px;
  transform: rotate(90deg);
  color: white; // Adjust color as needed
}
