<div class="delete-modal">
  <img [ngSrc]="ICONS.delete" height="46" width="46" />
  <h3 class="p-4">{{ "SNACKBAR.DELETE_ITINERARY" | translate }}</h3>
  <p class="text-center">
    {{ "AG_GRID.PERMANENT_DELETION" | translate }}
  </p>
  <div class="check-box-field">
    <lib-dashed-checkbox class="check-box"></lib-dashed-checkbox>
    <span>{{ "AG_GRID.DELETE_ITEM_WARNING" | translate }}</span>
  </div>
  <div class="modal-bottom-bar">
    <lib-primary-btn (click)="closeModal()">Keep</lib-primary-btn>
    <lib-primary-btn (click)="onOk()">Clear</lib-primary-btn>
  </div>
</div>
