<div class="delete-modal">
  <img [ngSrc]="ICONS.delete" height="46" width="46" />
  <h3 class="p-4">{{ "SNACKBAR.DELETE_ITINERARY" | translate }}</h3>
  <p class="text-center">
    {{ "AG_GRID.PERMANENT_DELETION" | translate }}
  </p>
  <div class="check-box-field">
    <lib-dashed-checkbox class="check-box"></lib-dashed-checkbox>
    <span>{{ "AG_GRID.DELETE_ITEM_WARNING" | translate }}</span>
  </div>
  <app-modal-bottom-bar
    class="parent-class-for-modal"
    [okText]="'Clear'"
    [cancelText]="'Keep'"
    (cancel)="closeModal()"
  ></app-modal-bottom-bar>
</div>
