<div class="delete-modal">
  <img [ngSrc]="ICONS?.delete" height="46" width="46" />
  <h1 class="p-4">Delete Itinerary</h1>
  <p class="text-center">
    Are you sure you want to permanently delete this Itinerary?
  </p>
  <div class="check-box-feild">
    <lib-dashed-checkbox class="check-box"></lib-dashed-checkbox>
    <span>I understand this item will be deleted forever</span>
  </div>
  <app-modal-bottom-bar
    class="parent-class-for-modal"
    [okText]="'Clear'"
    [cancelText]="'Keep'"
    (cancel)="closeModal()"
  ></app-modal-bottom-bar>
</div>
