<div class="suggestion mt-6">
  <p class="search-sub-heading">{{ "SEARCHING" | translate }}</p>
  <div>
    <div class="search-chip flex gap-2">
      <lib-primary-btn
        class="search-chips flex items-center justify-between mt-4 px-3 py-1 rounded-full"
      >
        {{ "SIDEBAR.ITINERARIES" | translate }}&nbsp;
        <img [ngSrc]="ICONS.close" height="9" width="10" />
      </lib-primary-btn>
      <lib-primary-btn
        class="search-chips flex items-center justify-between mt-4 px-3 py-1 rounded-full"
      >
        {{ "MATCHES" | translate }}&nbsp;
        <img [ngSrc]="ICONS.close" height="9" width="10" />
      </lib-primary-btn>
      <lib-primary-btn
        class="search-chips flex items-center justify-between mt-4 px-3 py-1 rounded-full"
      >
        {{ "MY_CREATION" | translate }}&nbsp;
        <img [ngSrc]="ICONS.close" height="9" width="10" />
      </lib-primary-btn>
    </div>
  </div>
</div>
<lib-section-separator></lib-section-separator>
