<div class="suggestion mt-6">
  <p class="search-sub-heading">Searching...</p>
  <div>
    <div class="search-chip flex gap-2">
      <lib-primary-btn
        class="search-chips flex items-center justify-between bg-[#413F47] text-[13px] mt-4 px-3 py-1 rounded-full text-[#BBBABC]"
      >
        Itineraries&nbsp;
        <img [ngSrc]="ICONS?.close" height="9" width="10" />
      </lib-primary-btn>
      <lib-primary-btn
        class="search-chips flex items-center justify-between bg-[#413F47] text-[13px] mt-4 px-3 py-1 rounded-full text-[#BBBABC]"
      >
        Matches&nbsp;
        <img [ngSrc]="ICONS?.close" height="9" width="10" />
      </lib-primary-btn>
      <lib-primary-btn
        class="search-chips flex items-center justify-between bg-[#413F47] text-[13px] mt-4 px-3 py-1 rounded-full text-[#BBBABC]"
      >
        My Creation&nbsp;
        <img [ngSrc]="ICONS?.close" height="9" width="10" />
      </lib-primary-btn>
    </div>
  </div>
</div>
<app-section-seprater></app-section-seprater>
