.navTopSearch .searchField {
  margin-top: 0 !important;
}

.container {
  padding: 0 !important;
}

.navMainBar .menu-btn-image {
  height: 26px !important;
  width: 26px !important;
}

/*menu*/
#mat-menu-panel-0
  .mat-mdc-menu-panel.lib-btn-menu-panel
  button.mat-mdc-menu-item
  .mat-mdc-menu-item-text {
  justify-content: start !important;
}
// #mat-menu-panel-0 .mat-mdc-menu-item-text img {
//   position: relative !important;
//   right: -22px !important;
// }

.dashboardMenu .lib-button-container {
  box-shadow: none !important;
  background: none !important;
}

.dashboardMenu .lib-button-component {
  height: 29px !important;
  width: 29px !important;
}

.dashboardMenu .btn-text img {
  height: 24px !important;
  width: 24px !important;
}

.navTopSearch .searchField {
  top: 0px !important;
}

.navTopSearch .searchField .container {
  height: auto !important;
}
