.sideBarHeadingBar .mat-ripple {
  box-shadow: none !important;
}

.sideBarHeadingBar .headerBtn:last-child {
  box-shadow: none !important;
  margin-right: 10px !important;
  margin-top: 5px !important;
}

.sideBarHeadingBar .lib-button-container {
  box-shadow: none !important;
}

.filterSideBar {
  display: flex !important;
  flex-direction: column-reverse !important;
}

.filterSideBar .selectable-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
}

.filterSideBar .btn-selectable {
  height: 100% !important;
}
