<div>
  <lib-bottom-modal
    customClass="customNavBottomModal"
    [canDismiss]="false"
    [(isOpen)]="enableBack"
  >
    <div class="bottomNavMain">
      <app-bottom-navigation-items
        (click)="
          this.bottomNavigationService.onNavigationChange(bottomNavList, item)
        "
        *ngFor="let item of bottomNavList"
        height="{{ item.height }}"
        width="{{ item.width }}"
        cssClass="{{ item.cssClass }}"
        routerLink="{{ item.routerLink }}"
        label="{{ item.label }}"
        iconPath="{{
          item.cssClass == 'active' ? item.clickedIconPath : item.iconPath
        }}"
      />
    </div>
  </lib-bottom-modal>
</div>
