<!-- <div class="bottomNavigation fixed bottom-0 left-0 w-full flex justify-around items-center py-3 pb-3 rounded-t-2xl">
  <app-bottom-navigation-items (click)="this.bottomNavigationService.onNavigationChange(bottomNavList,item)" *ngFor="let item of bottomNavList" height="{{item.height}}" width="{{item.width}}" cssClass="{{item.cssClass}}" routerLink="{{item.routerLink}}" label="{{item.label}}" iconPath="{{item.cssClass == 'active' ? item.clickedIconPath : item.iconPath}}"/>
</div> -->

<div>
  <lib-bottom-modal
    customClass="customNavBottomModal"
    (backClick)="backClick()"
    [cancelButtonTitle]="''"
    [canDismiss]="false"
    [(isOpen)]="enableBack"
  >
    <div class="bottomNavMain">
      <app-bottom-navigation-items
        (click)="
          this.bottomNavigationService.onNavigationChange(bottomNavList, item)
        "
        *ngFor="let item of bottomNavList"
        height="{{ item.height }}"
        width="{{ item.width }}"
        cssClass="{{ item.cssClass }}"
        routerLink="{{ item.routerLink }}"
        label="{{ item.label }}"
        iconPath="{{
          item.cssClass == 'active' ? item.clickedIconPath : item.iconPath
        }}"
      />
    </div>
  </lib-bottom-modal>
</div>
