<div class="main-content" (click)="clickEventEmitter()">
  <div class="main-content-sub">
    <div class="content">
      <span class="content-icon">
        <img [ngSrc]="icon" height="60" width="61" />
      </span>
      <div class="content-text">
        <span class="font-bold">
          <div *ngIf="shortTitle">
            <span class="headingSubPart">{{ titleList[0] }}</span>
          </div>
          <div *ngIf="!shortTitle">
            {{ titleList[0] }}
            <span class="headingSubPart">{{ titleList[1] }}</span>
          </div>
        </span>
        <p>{{ description }}</p>
      </div>
    </div>
    <span class="content-icon-last">
      <img [ngSrc]="ICONS.moveForward" height="50" width="51" />
    </span>
  </div>
</div>
