<div
  class="grid-columns sm:mt-3 md:mt-10 grid grid-cols-1 md:grid-cols-3 sm:gap-y-5 md:gap-y-10 gap-x-10"
>
  <app-card-component
    [libMenuItem]="libMenuItem"
    [isDraft]="false"
  ></app-card-component>
  <app-card-component
    [libMenuItem]="libMenuItem"
    [isDraft]="false"
  ></app-card-component>
  <app-card-component
    [libMenuItem]="libMenuItem"
    [isDraft]="false"
  ></app-card-component>
  <app-card-component
    [libMenuItem]="libMenuItem"
    [isDraft]="false"
  ></app-card-component>
  <app-card-component
    [libMenuItem]="libMenuItem"
    [isDraft]="false"
  ></app-card-component>
  <app-card-component
    [libMenuItem]="libMenuItem"
    [isDraft]="false"
  ></app-card-component>
  <app-card-component
    [libMenuItem]="libMenuItem"
    [isDraft]="false"
  ></app-card-component>
  <app-card-component
    [libMenuItem]="libMenuItem"
    [isDraft]="false"
  ></app-card-component>
  <app-card-component
    [libMenuItem]="libMenuItem"
    [isDraft]="false"
  ></app-card-component>
  <app-cutom-card></app-cutom-card>
  <app-card-component
    [libMenuItem]="libMenuItem"
    [isDraft]="false"
  ></app-card-component>
</div>
