.sideNav{
  background: #27242C;
  margin-top: 30px;
  box-shadow: -2px -5px 7px 0px #494949 inset;
  filter: drop-shadow(-3.172px -3.172px 10.15px rgba(203, 199, 209, 0.25)) drop-shadow(6.978px 6.344px 17.128px rgba(17, 16, 20, 0.65)) !important;
}


::ng-deep .sideBarHeadingBar .mat-ripple{
  box-shadow: none !important;
}

::ng-deep .sideBarHeadingBar .headerBtn:last-child{
  box-shadow: none !important;
  margin-right: 10px !important;
  margin-top: 5px !important;
}

::ng-deep .sideBarHeadingBar .lib-button-container{
  box-shadow: none !important;
}

.sideNav ul li{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 70px;
}

.sideNav ul li a{
  font-family: 'Calistoga';
  opacity: 50%;
}

::ng-deep .filterSideBar{
  display: flex !important;
  flex-direction: column-reverse !important;
}

::ng-deep .filterSideBar .selectable-container{
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
}

::ng-deep .filterSideBar .btn-selectable{
  height: 100% !important;
}

.active{
  color: #FFFFFF !important;
  border-bottom: 2px solid var(--secondary-color);
}

.active{
  opacity: 100% !important;
}
