<div class="max-padd-container pt-10 pb-4">
    <app-map-header
    [title]="'Create Itinerary'"
    [backLink]="'/'"
    ></app-map-header>
</div>

<div class="">
    <app-googlemapdemo [newDestination]="newDestination" (destinationAdded)="onDestinationAdded($event)"></app-googlemapdemo>
</div>

<div class="">
    <div class="absolute bottom-0 py-3">
        <section class="fixed bottom-0 w-full">
            <div class="tracking-widest px-5 py-2 rounded-t-3xl drawer-shadow  bg-[#28252D]">
                <div class="">
                    <div class="bottomModal mt-5 mb-3 flex flex-col gap-y-2">
                      <div class="flex items-center justify-between w-full gap-x-4">
                        <div class="flex items-center justify-start gap-x-4">
                          <div class="absolute left-0 top-3">
                            <img src="/assets/icons/destination-icon.svg" alt="" class="w-20" />
                          </div>
                          <div class="text ml-10">
                            <h2 class="sm:text-sm xs:text-xs flex items-center gap-x-1">
                                Shan-ul-haq haqee road
                            </h2>
                            <p class="xs:text-[10px] sm:text-xs text-secondary">Starting Location</p>
                          </div>
                        </div>
                        <div class="flex items-center gap-x-3">
                          <img src="/assets/icons/penicon.svg" alt="" class="cursor-pointer">
                        </div>
                      </div>
                      <div class="mt-2">
                        <h1 class="text-lg font-Calistoga">
                            Destination
                        </h1>
                        <p class="py-2 text-white opacity-70 text-[10px]">
                            Select final destination for itinenary route.
                        </p>
                      </div>
                      <div class=" flex gap-x-4 w-[20rem]  ">
                          <input type="text" placeholder="Where to?" class="!w-60 !py-1 text-white text-opacity-70"  [(ngModel)]="destination" />
                        <button class="text-[32px] " (click)="addDestination()" >+</button>
                      </div>
                    </div>

                  </div>
            </div>

            <div class="background-gradient py-5 px-16">
                <lib-primary-btn class="">Continue</lib-primary-btn>
            </div>
          </section>
    </div>
</div>
