<div *ngIf="navigationSteps !== 2">
  <div class="max-padd-container pt-10 pb-4">
    <app-map-header
      [title]="'MAP_HEADER.CREATE_ITINERARY' | translate"
      [backLink]="'/'"
    ></app-map-header>
  </div>

  <div class="">
    <app-googlemap
      [newDestination]="newDestination"
      [startLocation]="startLocation"
      [radius]="radius"
      (destinationAdded)="onDestinationAdded($event)"
      (routeRendered)="onRouteRendered($event)"
    ></app-googlemap>
  </div>

  <app-map-area-footer
    *ngIf="startLocation === ''"
    [itineraryCreationType]="itineraryCreationType"
    (itineraryCreationTypeChangeEvent)="
      handleItineraryCreationTypeChange($event)
    "
    (continueClickedEvent)="handleContinueClick()"
  ></app-map-area-footer>
</div>

<div *ngIf="navigationSteps === 3" class="">
  <div class="absolute bottom-0 py-3">
    <section class="fixed bottom-0 w-full">
      <div
        class="tracking-widest px-5 py-2 rounded-t-3xl drawer-shadow bg-[#28252D]"
      >
        <div class="">
          <div *ngIf="newDestination" class="flex justify-center">
            <p>{{ noOfPlaces }} places |</p>
            <p>{{ duration?.text }} ({{ distance?.text }})</p>
          </div>
          <div class="bottom-modal mt-5 mb-3 flex flex-col gap-y-2">
            <div class="flex items-center justify-between w-full gap-x-4">
              <div class="flex items-center justify-start gap-x-4">
                <div class="">
                  <img [src]="ICONS.destination" alt="" />
                </div>
                <div class="text ml-10">
                  <h2 class="sm:text-sm xs:text-xs flex items-center gap-x-1">
                    {{ startLocation }}
                  </h2>
                  <p class="xs:text-[10px] sm:text-xs text-secondary">
                    Starting Location
                  </p>
                </div>
              </div>
              <div
                (click)="handleEditLocationClick('start')"
                class="flex items-center gap-x-3"
              >
                <img [src]="ICONS.pen" alt="" class="cursor-pointer" />
              </div>
            </div>
            <div
              *ngIf="newDestination"
              class="flex items-center justify-between w-full gap-x-4"
            >
              <div class="flex items-center justify-start gap-x-4">
                <div class="">
                  <img [src]="ICONS.start" alt="" />
                </div>
                <div class="text ml-10">
                  <h2 class="sm:text-sm xs:text-xs flex items-center gap-x-1">
                    {{ newDestination }}
                  </h2>
                  <p class="xs:text-[10px] sm:text-xs text-secondary">
                    Destination
                  </p>
                </div>
              </div>
              <div
                (click)="handleEditLocationClick('destination')"
                class="flex items-center gap-x-3"
              >
                <img [src]="ICONS.pen" alt="" class="cursor-pointer" />
              </div>
            </div>
            <div *ngIf="!newDestination">
              <div class="mt-2">
                <h1 class="text-lg font-Calistoga">Destination</h1>
                <p class="py-2 text-white opacity-70 text-[10px]">
                  Select final destination for itinenary route.
                </p>
              </div>
              <div class="w-full gap-x-4 w-[20rem]">
                <lib-input-field
                  type="text"
                  placeholder="Where to?"
                  class="w-full !py-1 text-white text-opacity-70"
                  [enableGoogleAddress]="true"
                  (click)="handleContinueClick()"
                  [(ngModel)]="destination"
                ></lib-input-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="background-gradient py-5 px-16">
        <lib-primary-btn (click)="handleContinueClick()" class=""
          >Continue</lib-primary-btn
        >
      </div>
    </section>
  </div>
</div>
<app-search-location
  [searchLocationType]="searchLocationType"
  (searchedLocationEvent)="handleSearchedLocation($event)"
  *ngIf="navigationSteps === 2"
></app-search-location>
<app-route-type-footer
  (routeTypeSelected)="handleRouteTypeSelected()"
  *ngIf="navigationSteps === 4"
></app-route-type-footer>
<app-route-radius-footer
  *ngIf="navigationSteps === 5"
  (radiusSelected)="handeRouteRadiusSelected($event)"
></app-route-radius-footer>
<app-places-footer *ngIf="navigationSteps === 6"></app-places-footer>
