.searchSubHeading{
  color: #BDBDBD;
}

.clearHistoryMain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  width: 100px;
  margin-top: 10px;
  font-weight: lighter;
  position: relative;
  font-size: 13px !important;
}

.clearHistoryMain span{
  margin-bottom: 2px;
}

@media screen and (max-width: 380px){
  .clearHistoryMain{
    width: 95px;
    font-size: 12px !important;
  }
  .clearHistoryMain span img{
    height: 13px;
    width: 14px;
  }
}
