<!-- I will add the indicator here for unattendedNotification -->
<div class="text-white p-4 unattendedNotification">
  <div class="flex items-start justify-between">
    <!-- Left Side: Profile & Details -->
    <div class="flex space-x-3">
      <!-- Profile Image -->
      <img [src]="ICONS.user" alt="User" class="w-10 h-10 rounded-full" />

      <div class="gap-2">
        <p class="text-sm">Jonathan edited their featured comment on your itinerary <span
            class="font-semibold">Adventuretour</span>.</p>
        <p class="text-xs">Kindly review the comment to make it live.</p>
      </div>
    </div>

    <div class="flex items-center space-x-4">
      <p class="hoursAgo">11 hours</p>
      <lib-menu-btn (select)="handleMenueItemSelect()" (click)="handleMenuClick()" (change)="handleMenuItemChange()"
        class="lib-menu-custom-class" [disableTextShadow]="true" [menuItems]="libMenuItem">
        <img [src]="ICONS.horizontalWhite" alt="Horizontal divider" />
      </lib-menu-btn>
    </div>

  </div>
  <div>
    <button class="reviewNowButton">Review Now</button>
  </div>
  <div class="border-t border-gray-700 mt-2"></div>
</div>


<div class="comment-card text-white p-4">
  <div class="flex items-start justify-between">
    <!-- Left Side: Profile & Details -->
    <div class="flex space-x-3">
      <!-- Profile Image -->
      <img [src]="ICONS.user" alt="User" class="w-10 h-10 rounded-full" />

      <div>
        <p class="text-sm">Chandler is now watching your itinerary <span class="font-semibold">Adventuretour</span>.</p>
      </div>
    </div>

    <div class="flex items-center space-x-5">
      <p class="hoursAgo">5 hours</p>
      <lib-menu-btn (select)="handleMenueItemSelect()" (click)="handleMenuClick()" (change)="handleMenuItemChange()"
        class="lib-menu-custom-class" [disableTextShadow]="true" [menuItems]="libMenuItem">
        <img [src]="ICONS.horizontalWhite" alt="Horizontal divider" />
      </lib-menu-btn>
    </div>
  </div>
  <div class="border-t border-gray-700 mt-2"></div>
</div>


<div class="comment-card text-white p-4">
  <div class="flex items-start justify-between">
    <!-- Left Side: Profile & Details -->
    <div class="flex space-x-3">
      <!-- Profile Image -->
      <img [src]="ICONS.user" alt="User" class="w-10 h-10 rounded-full" />

      <div>
        <p class="text-sm">Any other relevant notification here.</p>
      </div>
    </div>

    <!-- Right Side: Time & Menu Button -->
    <div class="flex items-center space-x-4">
      <p class="hoursAgo">11 hours</p>
      <lib-menu-btn (select)="handleMenueItemSelect()" (click)="handleMenuClick()" (change)="handleMenuItemChange()"
        class="lib-menu-custom-class" [disableTextShadow]="true" [menuItems]="libMenuItem">
        <img [src]="ICONS.horizontalWhite" alt="Horizontal divider" />
      </lib-menu-btn>
    </div>
  </div>

  <!-- Separator Line -->
  <div class="border-t border-gray-700 mt-2"></div>
</div>
<div class="mt-4 absolute bottom-0 w-80 ms-10 me-5 mb-5">
  <button class="markAllAsRead w-full h-10">Mark All as Read</button>
</div>
