.searchHistoryBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
}

.searchHistoryBarSub{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchHistoryText{
  margin-left: 10px;
  margin-top: 2px;
  font-weight: lighter;
  color: #939195;
  font-size: 16px;
}

@media screen and (max-width: 380px){
  .searchHistoryText{
    font-size: 12px;
  }

  .searchHistoryBar span img:first-child{
    height: 11px;
    width: 10px;
  }
  .searchHistoryBar span img:last-child{
    height: 11px;
    width: 10px;
  }
}
