::ng-deep .builderAddBtn lib-base-btn .mat-ripple .btn-text {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
  width: 100% !important;
  color: var(--lib-secondary-button-font-color) !important;
  text-shadow: var(--lib-secondary-button-text-shadow) !important;
}

::ng-deep .builderAddBtn .lib-button-container {
  display: none !important;
}
::ng-deep .builderAddBtn .mat-ripple {
  /* background: none !important;
  box-shadow: -4.1px -4.1px 13.13px -2.46px #cbc7d140 !important;
  border-radius: 10px !important;
  border: none !important;
  line-height: 10px !important;
  font-family: "Calistoga" !important; */
  height: 60px !important;
}
.builderAddBtn span {
  margin-right: 10px;
}

@media (max-width: 380px) {
  .builderAddBtn {
    width: 100% !important;
    font-size: 14px !important;
  }
  .builderAddBtn img {
    height: 13px;
    width: 13px;
  }
}

::ng-deep .customModal .modal-wrapper.ion-overlay-wrapper {
  background: transparent !important;
  box-shadow: none !important;
}
/*
::ng-deep
  .customModal
  .ion-delegate-host
  .wrapper
  .lib-bottom-modal-cancel-btn
  .lib-button-component
  button.mat-ripple:hover,
.customModal
  .ion-delegate-host
  .wrapper
  .lib-bottom-modal-cancel-btn
  .lib-button-component
  button.mat-ripple:active,
.customModal
  .ion-delegate-host
  .wrapper
  .lib-bottom-modal-cancel-btn
  .lib-button-component
  button.mat-ripple:focus {
  background: red !important;
} */
