::ng-deep .builderAddBtn lib-base-btn .mat-ripple .btn-text {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
  width: 100% !important;
  color: var(--lib-secondary-button-font-color) !important;
  text-shadow: var(--lib-secondary-button-text-shadow) !important;
}

::ng-deep .builderAddBtn .lib-button-container {
  display: none !important;
}
::ng-deep .builderAddBtn .mat-ripple {
  height: 60px !important;
}
.builderAddBtn span {
  margin-right: 10px;
}

@media (max-width: 380px) {
  .builderAddBtn {
    width: 100% !important;
    font-size: 14px !important;
  }
  .builderAddBtn img {
    height: 13px;
    width: 13px;
  }
}

::ng-deep .customModal .modal-wrapper.ion-overlay-wrapper {
  background: transparent !important;
  box-shadow: none !important;
}
